<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budżet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body style="margin: auto; max-width: 570px">


    <h2>Dostępne opcje:</h2>

    <ul class="list-group">
        <li class="list-group-item">
            <a href="/dodaj">dodaj przychód/wydatek</a><br/>
        </li>
        <li class="list-group-item">
            <a href="/przychody">wczytaj przychody</a><br/>
        </li>
        <li class="list-group-item">
            <a href="/wydatki">wczytaj wydatki</a><br/>
        </li>
        <li class="list-group-item">
            <a href="/zakres">kryteria wyszukiwania</a><br/>
        </li>
    </ul>


</body>
</html>

